.Component2{
    background-color: #eee;
    padding:20px;
}
.developer-img{
    height:200px;
    border-radius: 20px;
    padding-top: 0px;
    margin-top: 0px;
}
.Component2 h2{
padding-top:0px;
margin-top: 0px;
}

